<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Universal - All In 1 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Swiper slider-->
    <link rel="stylesheet" th:href="@{/vendor/swiper/swiper-bundle.min.css}">
    <!-- Choices.js [Custom select]-->
    <link rel="stylesheet" th:href="@{/vendor/choices.js/public/assets/styles/choices.css}">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-touch-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-touch-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-touch-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-touch-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-touch-icon-152x152.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wide" id="all">
    <!-- topbar -->
    <div th:replace="@{/general/modallogin}::topbar"></div>
    <!-- modal -->
    <div th:replace="@{/general/modallogin}::modal"></div>
    <!-- header -->
    <header th:replace="@{/general/navbar}::navbar"></header>
      <!-- TEXT SECTION-->
      <section class="py-5 m-3">
		<div class="row">
            <div class="col-lg-7 mx-auto">
              <h2 class="lined lined-center text-uppercase mb-4" th:text="${titulo}">Crear Nuevo Producto</h2>
              <form th:action="${modo!='modificar'} ? @{/productos/new} : @{/productos/update/}+${idProducto}" th:object="${producto}"  enctype="multipart/form-data" method="post">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" id="nombre" name="nombre" type="text" th:field="*{nombre}" placeholder="Nombre Producto">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label" for="precio">Precio</label>
                    <input class="form-control" id="text" name="precio" type="text" th:field="*{precio}" placeholder="Precio">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label" for="stock">Stock</label>
                    <input class="form-control" id="stock" name="stock" type="text" th:field="*{stock}" placeholder="Stock">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label" for="impuesto">Impuesto</label>
                    <input class="form-control" id="impuesto" name="impuesto" type="text" th:field="*{impuesto}" placeholder="Impuesto">
                  </div>
                  <div class="col-md-12 mb-3">
                    <input id="file" name="file" type="file">
                  </div>
                  <div th:if="${producto.imagen!=null}" class="col-md-12 mb-3">
                    <p>Imagen actual:</p>
                    <img th:src="@{/img/}+${producto.imagen}" class="img-fluid" alt="Imagen">
                  </div>
                  <div class="col-md-12 mb-3">
                    <label for="idCategoria">Elige una categoria:</label>
					<select id="idCategoria" name="idCategoria" th:field="*{idCategoria}">
					  <option th:each="clave, valor : ${categorias}" th:value="${clave.key}" th:text="${clave.value}" >Volvo</option>
					</select>
                  </div>
				  <div class="col-md-12 mb-3">
                    <label class="form-label" for="descripcion">Descripcion</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="4" th:field="*{descripcion}" placeholder="Descripcion"></textarea>
                  </div>
                  <div class="form-group mb-3 text-center">
                  <button class="btn btn-outline-primary" type="submit" th:text="${modo!='modificar'} ? 'Crear' : 'Modificar'">Crear</button>
                </div>
                </div>
              </form>
            </div>
          </div>
      </section>
      
    </div>
    
    <footer th:replace="@{/general/footer}::footer"></footer>
    
    <!-- JavaScript files-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/waypoints/lib/noframework.waypoints.js}"></script>
    <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/vendor/choices.js/public/assets/scripts/choices.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>