<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link th:href='@{/css/estiloLogin.css}' rel='stylesheet' type='text/css'>
<title>Insert title here</title>
</head>
<body>
<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <form th:action="@{/login/login}" th:object="${usuario}" class="login-form" method="post">
    <h3>Usuario:</h3>
    <input type="text" id="nombre" name="nombre" placeholder="Usuario"/><br>
    <h3>Contraseña:</h3>
    <input type="password" id="contrasena" name="clave" placeholder="Contraseña"/>
    <br>
    <!-- <button class="login-button">Login</button> -->
    <input type="submit" value="Login" class="login-button"/>
  </form>
  <span th:text="${mensaje}" id="error"></span>
</div>
</body>
</html>